TESTING

In [48]:
import pandas as pd
import numpy as np

df_unesco_train = pd.read_csv("unesco_train.csv")
df_unesco = pd.read_csv("unesco.csv")

df_unesco_train.set_index(["Country", "Year"], drop=False, inplace=True)
df_unesco.set_index(["Country", "Year"], drop=False, inplace=True)
df_unesco.head()

             Country  Year  fertilityRate  lifeExpectancy  mortalityRate  \
Country Year
Canada  1970  Canada  1970          2.258        72.70049           18.5
        1971  Canada  1971          2.141        73.02927           17.6
        1972  Canada  1972          1.980        72.93390           16.7
        1973  Canada  1973          1.890        73.16268           15.9
        1974  Canada  1974          1.837        73.23756           15.0

              popGrowth  ruralPopPct  gdpGrowthPct         gdpUS  \
Country Year
Canada  1970    1.39783       24.346       3.25561  8.789610e+10
        1971    1.49660       23.910       4.11766  9.927196e+10
        1972    1.59537       24.029       5.44586  1.130828e+11
        1973    1.69414       24.149       6.96420  1.313219e+11
        1974    1.79290       24.269       3.69099  1.604087e+11

              gdpPerCapitaUS  ...           gni  gniPerCapita  \
Country Year                  ...
Canada  1970      4121.93281  ...  9.049216e+10        3970.0
        1971      4586.25585  ...  9.877660e+10        4390.0
        1972      5141.61672  ...  1.104571e+11        5050.0
        1973      5870.60056  ...  1.295094e+11        6060.0
        1974      7043.47435  ...  1.545532e+11        7190.0

              gniPerCapita ppp  pop14under  pop15to24  pop25to64  pop65over  \
Country Year
Canada  1970               0.0    6440.147   3925.468   9293.993   1714.718
        1971               0.0    6358.735   4079.901   9521.813   1763.011
        1972               0.0    6290.521   4213.894   9758.405   1809.374
        1973               0.0    6223.796   4328.185  10007.184   1856.157
        1974               0.0    6140.715   4428.317  10270.428   1906.443

              hivPct  povertyRatio   totalPop
Country Year
Canada  1970     0.0           0.0  21374.326
        1971     0.0           0.0  21723.460
        1972     0.0           0.0  22072.194
        1973     0.0           0.0  22415.322
        1974     0.0           0.0  22745.903

[5 rows x 22 columns]

In [51]:
df_unesco_train = df_unesco_train[df_unesco_train["pop14under"] > 0].copy()
(df_unesco_train['pop14under'] == 0).value_counts()

False    441
Name: pop14under, dtype: int64

In [52]:
for col in df_unesco_train:
    display((df_unesco_train[col] == 0).value_counts())
    print()
            
# display(pd.isnull(df_unesco_train[col].value_counts())
# print()

False    441
Name: Country, dtype: int64

False    441
Name: Year, dtype: int64

False    441
Name: fertilityRate, dtype: int64

False    441
Name: lifeExpectancy, dtype: int64

False    437
True       4
Name: mortalityRate, dtype: int64

False    441
Name: popGrowth, dtype: int64

False    441
Name: ruralPopPct, dtype: int64

False    441
Name: gdpGrowthPct, dtype: int64

False    441
Name: gdpUS, dtype: int64

False    441
Name: gdpPerCapitaUS, dtype: int64

False    441
Name: gdpPerCapita ppp, dtype: int64

False    441
Name: gdp pppInternational, dtype: int64

False    441
Name: gni, dtype: int64

False    441
Name: gniPerCapita, dtype: int64

False    441
Name: gniPerCapita ppp, dtype: int64

False    441
Name: pop14under, dtype: int64

False    441
Name: pop15to24, dtype: int64

False    441
Name: pop25to64, dtype: int64

False    441
Name: pop65over, dtype: int64

False    350
True      91
Name: hivPct, dtype: int64

True     312
False    129
Name: povertyRatio, dtype: int64

False    441
Name: totalPop, dtype: int64

False    441
Name: happinessScore, dtype: int64

In [55]:
for col in df_unesco_train:
    display(pd.isnull(df_unesco_train[col]).value_counts())
    print()

False    441
Name: Country, dtype: int64

False    441
Name: Year, dtype: int64

False    441
Name: fertilityRate, dtype: int64

False    441
Name: lifeExpectancy, dtype: int64

False    441
Name: mortalityRate, dtype: int64

False    441
Name: popGrowth, dtype: int64

False    433
True       8
Name: ruralPopPct, dtype: int64

False    440
True       1
Name: gdpGrowthPct, dtype: int64

False    441
Name: gdpUS, dtype: int64

False    441
Name: gdpPerCapitaUS, dtype: int64

False    441
Name: gdpPerCapita ppp, dtype: int64

False    441
Name: gdp pppInternational, dtype: int64

False    441
Name: gni, dtype: int64

False    441
Name: gniPerCapita, dtype: int64

False    441
Name: gniPerCapita ppp, dtype: int64

False    441
Name: pop14under, dtype: int64

False    441
Name: pop15to24, dtype: int64

False    441
Name: pop25to64, dtype: int64

False    441
Name: pop65over, dtype: int64

False    441
Name: hivPct, dtype: int64

False    417
True      24
Name: povertyRatio, dtype: int64

False    441
Name: totalPop, dtype: int64

False    441
Name: happinessScore, dtype: int64